######################################################################
# Beeper
######################################################################

# M300 : Play tone. Beeper support, as commonly found on usual LCD
# displays (i.e. RepRapDiscount 2004 Smart Controller, RepRapDiscount
# 12864 Full Graphic). This defines a custom I/O pin and a custom
# GCODE macro.  Usage:
#   M300 [P<ms>] [S<Hz>]
#   P is the tone duration, S the tone frequency.
# The frequency won't be pitch perfect.

# doesn't work, see https://forum.sovol3d.com/t/use-beeper-from-mks-sbc-which-pin/3606/15
# [output_pin BEEPER_pin]
# pin: ar37
# #   Beeper pin. This parameter must be provided.
# #   ar37 is the default RAMPS/MKS pin.
# pwm: True
# #   A piezo beeper needs a PWM signal, a DC buzzer doesn't.
# value: 0
# #   Silent at power on, set to 1 if active low.
# shutdown_value: 0
# #   Disable at emergency shutdown (no PWM would be available anyway).
# cycle_time: 0.001
# #   Default PWM frequency : 0.001 = 1ms will give a tone of 1kHz
# #   Although not pitch perfect.

# [gcode_macro M300]
# gcode:
#     # Use a default 1kHz tone if S is omitted.
#     {% set S = params.S|default(1000)|int %}
#     # Use a 10ms duration is P is omitted.
#     {% set P = params.P|default(100)|int %}
#     SET_PIN PIN=BEEPER_pin VALUE=0.5 CYCLE_TIME={ 1.0/S if S > 0 else 1 }
#     G4 P{P}
#     SET_PIN PIN=BEEPER_pin VALUE=0


######################################################################
# Filament Change
######################################################################

# M600: Filament Change. This macro will pause the printer, move the
# tool to the change position, and retract the filament 50mm. Adjust
# the retraction settings for your own extruder. After filament has
# been changed, the print can be resumed from its previous position
# with the "RESUME" gcode.

[gcode_macro M600]
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state

# git fetch origin pull/6149/head:x-twist-compensation-simple
# https://old.reddit.com/r/Sovol/comments/1ag88ot/implementing_axis_twist_compensation_klipperized/kom1rs6/
[axis_twist_compensation]
calibrate_start_x: 20
calibrate_end_x: 250
calibrate_y: 170